<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>

    <!-- Docker Hub registry -->
    <RegistryUrl>docker.io</RegistryUrl>

    <!-- Your Docker Hub username -->
    <UserName>kamalberrybytes</UserName>

    <!-- IMPORTANT: full repo name -->
    <ContainerImageName>kamalberrybytes/microsoft-mcpgateway-service</ContainerImageName>

    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkCustomContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>
