<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RegistryUrl>docker.io</RegistryUrl>
    <UserName>kamalberrybytes</UserName>
    <ContainerImageName>kamalberrybytes/microsoft-mcpgateway-service</ContainerImageName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkCustomContainerRegistry</_TargetId>
    <AdapterNamespace>mcp-gateway-adapter1</AdapterNamespace>
    <ContainerEnvironmentVariables>
      <ADAPTER_NAMESPACE>$(AdapterNamespace)</ADAPTER_NAMESPACE>
    </ContainerEnvironmentVariables>
  </PropertyGroup>
</Project>
